---
apiVersion: 1

datasources:
  - name: {{ grafana_prometheus_datasource_name | to_json }}
    type: prometheus
    access: proxy
    url: {{ grafana_prometheus_datasource_url | to_json }}
    isDefault: true
    editable: true
